/* src/app/profile/profile.component.css */

/* Styles for the new container at the top */
.dashboard-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  
  .dashboard-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .profile-container {
    height: 100vh;
    width: 30%;
    margin: 10px;
    margin-right: 20px; /* Adjust this margin as needed */
    padding: 20px;
    border-radius: 15px;
    background-color: midnightblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif; /* Font family for the text */
    color: white; /* Text color */
    float: left; /* Float left to align to the left */
  }
  .welcome-header {
    color: #FFC000;
  }
  .logout-button {
    background-color: #f44336;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #d32f2f;
  }
  
  .home-container {
    height: 100vh;
    position: fixed;
    width: 6%;
    top: 10px; /* Adjust the top position as needed */
    right: 20px; /* Adjust the right position as needed */
    background-color: midnightblue;
    border-radius: 15px;
    float: right; /* Float right to align to the right */
  }
  
  .home-button {
    margin-top: 30px;
    background-color: midnightblue;
    color: #fff;
    padding: 13px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .home-button:hover {
    background-color: #4572a0;
  }
  