<!-- 
<div class="photo-container">

</div>
<div class="heading">
  <span>Explore the World</span>
  <h1>Travel Packages</h1>
  <p>Discover amazing destinations with our travel packages.</p>
</div>

<div *ngIf="travelPackages.length > 0; else noPackages" class="box-container">
  <div *ngFor="let package of travelPackages" class="box">
      <div class="image">
          <img class="image" [src]="package.imageSrc" alt="Image not found">
      </div>
      <div class="content">
          <h3>{{ package.name }}</h3>
          <p>
              <strong>Destination ID:</strong> {{ package.destination_id }}<br>
              <strong>Price:</strong> ${{ package.price }}
          </p>
          <button class="view-details-button" (click)="goToPackageProfile(package.id)">View Details</button>
      </div>
  </div>
</div>

<ng-template #noPackages>
  <p>No travel packages available.</p>
</ng-template> -->
<!DOCTYPE html>
<html>
<title>Destination Index</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
  <app-navbar [Package]="Package"></app-navbar>

  <div class="photo-container">
    <div class="centered-text">
      <h1>Travel Package Index</h1>
      <div class="w3-row">
        <div class="w3-col" style="width:80%">
          <input 
            type="text"
            [(ngModel)]="search" [ngModelOptions]="{standalone: true}"
            class="input-field"
            placeholder="Search by name or price"
            class="w3-input w3-border transparent-search-bar"
          />
        </div>
        <div class="w3-col" style="width:20%">
          <button class="w3-btn w3-blue transparent-search-button" (click)="packageSearch(search)">Search</button>
        </div>
      </div>
    </div>
  </div>

  <div class="w3-row-padding w3-margin-top">
    <div class="w3-third" *ngFor="let package of travelPackages">
      <div class="w3-container" (click)="goToPackageProfile(package.id)" style="text-align: center;">
        <h4>{{package.name}}</h4>
      </div>
      <div class="w3-card" (click)="goToPackageProfile(package.id)" style="position: relative;">
        <img [src]="package.image.path" style="width: 100%; height: 100%;">
      </div>
    </div>
  </div>
</body>
</html>
