
<section>
    <div class="container flex">
      <div class="left">
        <div class="main_image">
        
          <img src="{{ image }}" class="slide">
        </div>
        <div class="option flex">
        
        </div>
      </div>
      <div class="right">
        <h3>{{ airline?.name }}</h3>
        <h4> Contact info: {{ airline?.email }}</h4>
        <!-- <p>{{ package?.description }}</p> -->
        
        <div class="color flex1">
          <!-- You may want to dynamically generate these spans based on data -->
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <button>See Flights</button>
        

  
</div>
      
  </div>
  </section>
  

  