<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
    <div class="photo-container">
    <img src="" alt="">
    <div class="container" style="overflow: auto;">
        <app-des-nav [Attractions]="Attractions" [Profile]="Profile" [Packages]="Packages" [Hotels]="Hotels"></app-des-nav>
        <div *ngIf="Profile" class="profile-container">
            <div class="card">
                <div class="card-content">
                  <img src="{{destination.image.path}}" alt="" class="card-image">
                </div>
            </div>
            <div class="card1">
                <div class="card-content1"> 
                <h1>Destination Profile:</h1>
                <h2>City: {{destination.city}}</h2>
                <h2>Country: {{destination.country}}</h2>
                </div>
            </div>
            <div class="card2">
                <h2>Description:</h2>
                <div class="card-content2"> 
                    <h4>{{destination.description}}</h4>
                </div>
            </div>
        </div>
        <div *ngIf="Attractions" class="attraction-container" >
            <div class="w3-row-padding w3-margin-top">
                <h1>Attractions in {{destination.city}}, {{destination.country}}: </h1>
                <div class="w3-third" *ngFor="let attraction of attractions">
                  <div class="w3-container" style="text-align: center;">
                    <h4>{{attraction.attraction}}</h4>
                  </div>
                  <div class="w3-card" style="position: relative;">
                    <img [src]="attraction.image.path" class="card-image">
                  </div>
                </div>
              </div>

        </div>
        <div *ngIf="Packages">packages</div>
        <div *ngIf="Hotels">Hotels</div>
    </div>
</div>
</body>