<body>
    <div class="photo-container">
    <img src="" alt="">
    <div class="container">
        <app-des-nav [Attractions]="Attractions" [Profile]="Profile" [Packages]="Packages" [Hotels]="Hotels"></app-des-nav>
        <div *ngIf="Profile" class="profile-container">
            <div class="card">
                <!-- Add content inside the card if needed -->
                <div class="card-content">
                  <img src="{{destination.image.path}}" alt="" class="card-image">
                </div>
            </div>
            <div class="card1">
                <!-- Add content inside the card if needed -->
                <div class="card-content1"> 
                <h1>Destination Profile:</h1>
                <h2>City: {{destination.city}}</h2>
                <h2>Country: {{destination.country}}</h2>
                </div>
            </div>
            <div class="card2">
                <h2>Description:</h2>
                <!-- Add content inside the card if needed -->
                <div class="card-content2"> 
                    <h4>{{destination.description}}</h4>
                </div>
            </div>
        </div>
        <div *ngIf="Attractions">Attractions</div>
        <div *ngIf="Packages">packages</div>
        <div *ngIf="Hotels">Hotels</div>
    </div>
</div>
</body>