<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container-fluid">
        <a class="navbar-brand" href="/travel-packages">◄ Back to packages</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="travel-packages">Packages</a>
                </li>
            </ul>
        </div> -->
    </div>
  </nav>
  




<h2>{{ package?.name }}</h2>
<p *ngIf="package">
    <strong>ID:</strong> {{ package.id }}<br>
    <strong>Description:</strong> {{ package.description }}<br>
    <strong>Airline ID:</strong> {{ package.airline_id }}<br>
    <strong>Destination ID:</strong> {{ package.destination_id }}<br>
    <strong>Departure Flight ID:</strong> {{ package.departure_flight_id }}<br>
    <strong>Return Flight ID:</strong> {{ package.return_flight_id }}<br>
    <strong>Price:</strong> ${{ package.price }}
</p>
<p *ngIf="!package">Package not found.</p>
