<!-- <img src="{{image}}" alt=""> -->
<div class="container mt-4" >

    <div class="card">
        <h1>Hotel Insert Form</h1>
  
  <form>
    <div class="form-group">
      <label>Name</label>
      <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="form-control" id="name" placeholder="Enter Name">
  
    </div>
  
    <div class="form-group">
        <label>Price</label>
        <input type="text" [(ngModel)]="prices" [ngModelOptions]="{standalone: true}" class="form-control" id="email" placeholder="Enter Prices">
  
      </div>
  
      <div class="form-group">
        <label>Destination</label>
        <select [(ngModel)]="destination_id" [ngModelOptions]="{standalone: true}" class="form-control" id="destination">
          <option *ngFor="let destination of destinations" [value]="destination.id">{{ destination.country }}, {{ destination.city }}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" id="password" placeholder="Enter Email">
      </div>
      <div class="form-group">
        <label>Phone Number</label>
        <input type="text" [(ngModel)]="phone_no" [ngModelOptions]="{standalone: true}" class="form-control" id="password" placeholder="Enter Phone">
      </div>
      
    
      <!-- <div class="form-group">
        <label for="image">Upload Image</label>
        <input type="file" (change)="onFileSelected($event)" class="form-control-file" id="image" accept="image/*">
      </div> -->
      <div class="mb-3">
        <label for="formFile" class="form-label">Upload Image</label>
        <input class="form-control" type="file" id="formFile" (change)="onFileSelected($event)" accept="image/*">
      </div>
      
    
      <button type="button" class="btn btn-primary mt-4" (click)="hotel_sub()" >Submit</button>
      <!--<p *ngIf="message !== null && message !== undefined">{{message.name}} has been registered</p> -->
  </form>
    </div>
  <div>

  
  
  
